<template name="templatesLandingLayout">
    <div class="page-container">
        {{#contentFor "toolbar"}}{{/contentFor}}
        <div class="row login-landing no-margin" style="height: 100%">
            <div class="col-xs background-blue-grey-900 hidden-xs" style="height: 100%">
                <div class="image-box">
                    <img src="/img/etnik1.jpg" alt="" />
                    <div class="front-opacity"></div>
                </div>
            </div>
            <div class="col-md-6 col-xs-fluid-24 background-white" style="height: 100%">
                <div class="main-box">
                    <div class="pull-right" style="margin-right: -20px;margin-top: -20px">
                        <a href="javascript:" class="icon-toggle ripple"><i class="mdi mdi-dots-vertical"></i></a>
                    </div>
                    <div class="clearfix"></div>
                    <img src="/img/profile.png" alt="" style="width:100%; max-width: 50%; border-radius: 50%;display: block; margin: 0 auto; margin-bottom: 24px;"/>
                    <div class="input-textfield">
                        <input type="text" name="text" placeholder="Email or Username" data-textfield="Some text here">
                        <div class="border-line"></div>
                        <div class="guide-text">
                            Username
                        </div>
                    </div>
                    <div class="input-textfield">
                        <input type="password" name="text" placeholder="Password" data-textfield="Some text here">
                        <div class="border-line"></div>
                        <div class="guide-text">
                            Password
                        </div>
                    </div>
                    <button class="raised-button ripple primary button-block" style="background: #34495e">Sign In</button>
                    <button class="flat-button ripple primary button-block" style="color: #34495e">Create Account</button>
                    <!-- <button class="raised-button ripple secondary button-block">Sign Up</button> -->
                </div>
            </div>
        </div>
    </div>

    {{#contentFor "style"}}
    .page-container .mCSB_container {
        height: 100%;
    }

    .page-container {
        height: 100%;
    }
    {{/contentFor}}

</template>
