<template name="templatesLandingLayout">
    <div class="page-container">
        <style class="dont-count">
            .page-container .mCSB_container {
                height: 100%;
            }

            .page-container {
                height: 100%;
            }
        </style>
        <div class="row" style="height: 100%">
            <div class="col-xs background-red" style="height: 100%">

            </div>
            <div class="col-xs background-blue" style="height: 100%">

            </div>
        </div>
    </div>
</template>
