<template name="defaultNavigation">
    <div class="side-navigation dont-count front">
        <div class="side-navigation-inner">
            <div class="nav-content">
                <div class="nav-profile">
                    <div class="overlay"></div>
                    <a href="javascript:"><img src="/img/profile.png" alt=""></a>
                    <a href="javascript:"><div class="profile-name">Nizul Zaim</div></a>
                    <div class="profile-email">emailaddress@devsign.my</div>
                </div>
                <div class="nav-menu">
                    <a class="nav-list active" href="/"><i class="mdi mdi-home"></i> Dashboard Panel</a>
                    <a class="nav-list submenu" href="javascript:;"><i class="mdi mdi-palette-advanced"></i> UI Components</a>
                    <div class="nav-sublist">
                        <a class="nav-list" href="/ui/button"><i class="mdi mdi-crop-landscape"></i>Buttons</a>
                        <a class="nav-list" href="/ui/icon-toggle"><i class="mdi mdi-crop-square"></i>Button: Icon Toggle</a>
                        <a class="nav-list" href="/ui/cards"><i class="mdi mdi-window-maximize"></i>Cards</a>
                        <a class="nav-list" href="/ui/lists"><i class="mdi mdi-window-maximize"></i>Lists</a>
                        <a class="nav-list" href="/ui/table"><i class="mdi mdi-table-large"></i>Table</a>
                        <a class="nav-list" href="/ui/textfield"><i class="mdi mdi-label"></i>Text Fields</a>
                        <a class="nav-list" href="/ui/toggles"><i class="mdi mdi-checkbox-marked"></i>Toggles</a>
                    </div>
                    <div class="divider"></div>
                    <a class="nav-list" href="/ui/textfield">Search settings</a>
                    <a class="nav-list" href="/ui/textfield">History</a>
                </div>
            </div>
        </div>
    </div>
</template>
