<template name="docareUserActivityLayout">
    {{#contentFor "pageTitle"}}My Activity{{/contentFor}}
    <div class="paper" style="padding-top: 6px; padding-bottom: 6px;">
        <div style="max-width: 1312px; margin: 0 auto;">
            <div class="row center-xs">
                <div class="col-xs-fluid-24">
                    <div class="cards cards-profile">
                        <div class="cards-profile-image-header">
                            <img src="/img/back1.png" class="cards-profile-image-header-background" alt="" />
                        </div>
                        <div class="cards-profile-content">
                            <img src="/img/profile.png" class="cards-profile-content-account" alt="" />
                            <div class="font-subhead no-margin">Nizul Zaim</div>
                            <div class="font-body no-margin color-grey-700">Patient Account</div>
                        </div>
                    </div>
                    <div style="text-align: center; width: 100%; max-width: 70%; margin: 0 auto;">
                        <div class="font-body color-grey-600">
                            You still don't have any doctor to track your activity. Meet your doctor to get his account pin number.
                        </div>
                        <a href="javascript:" class="secondary raised-button ripple center"><i class="mdi mdi-plus"></i> Add New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
