<template name="docareDoctorProfileLayout">
    {{#contentFor "pageTitle"}}My Profile{{/contentFor}}
    <div class="paper" style="padding-top: 6px; padding-bottom: 6px;">
        <div style="max-width: 1312px; margin: 0 auto;">
            <div class="row center-xs">
                <div class="col-xs-fluid-24">
                    <div class="cards cards-profile style-2">
                        <div class="cards-profile-image-header">
                            <img src="/img/back1.png" class="cards-profile-image-header-background" alt="" />
                            <div class="middle-center">
                                <img src="/img/profile.png" class="cards-profile-content-account" alt="" />
                                <a href="javascript:" class="primary raised-button ripple center"><i class="mdi mdi-pencil"></i>Edit Profile</a>
                            </div>

                        </div>
                        <div class="cards-profile-content">
                            <div class="font-subhead">Dr. Lili Madiha <i class="mdi mdi-checkbox-marked-circle account-verify"></i></div>
                            <div class="font-body no-margin color-grey-700" style="line-height: 16px;">Doctor Account</div>
                            <div class="font-body no-margin color-grey-700" style="line-height: 16px;">Prince Court Medical Centre</div>
                            <div class="font-body no-margin color-grey-700" style="line-height: 16px;">Kuala Lumpur, Malaysia</div>
                            <div class="font-body no-margin color-grey-700" style="line-height: 16px;">Department of Orthopedic</div>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="cards-text">
                            <div class="font-subhead color-grey-900">
                                Patient Session Request
                            </div>

                            <div class="font-body color-grey-800">
                                Your patient request to schedule appointment with you. Your patient details :
                            </div>
                            <div class="font-body color-grey-600 no-margin">Name : Nizul Zaim Anuar</div>
                            <div class="font-body color-grey-600 no-margin">Phone Number : +60 12925 2858</div>
                        </div>
                        <div class="cards-action">
                            <a href="#" class="flat-button ripple">Ignore</a>
                            <a href="#" class="flat-button primary ripple">Schedule</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="fab ripple secondary fixed">
        <i class="mdi mdi-message-text"></i>
    </a>
</template>
