.color-white {
	color: $color-white !important;
}

.color-black {
	color: $color-black !important;
}

.color-grey {
	color: $color-grey !important;
}

.color-grey-50 {
	color: $color-grey-50 !important;
}

.color-grey-100 {
	color: $color-grey-100 !important;
}

.color-grey-200 {
	color: $color-grey-200 !important;
}

.color-grey-300 {
	color: $color-grey-300 !important;
}

.color-grey-400 {
	color: $color-grey-400 !important;
}

.color-grey-500 {
	color: $color-grey-500 !important;
}

.color-grey-600 {
	color: $color-grey-600 !important;
}

.color-grey-700 {
	color: $color-grey-700 !important;
}

.color-grey-800 {
	color: $color-grey-800 !important;
}

.color-grey-900 {
	color: $color-grey-900 !important;
}
