.middle-top,
.middle-vertical {
	top: 50%;
	@include transform(translateY(-50%));
	position: absolute;
}

.middle-horizontal {
	left: 50%;
	@include transform(translateX(-50%));
	position: absolute;
}

.middle-center {
	top: 50%;
	left: 50%;
	@include transform(translate(-50%,-50%));
	position: absolute;
}
