$theme-primary : $color-blue;
$theme-primary-light : $color-blue-100;
$theme-primary-dark : $color-blue-700;

$theme-accent : $color-pink;
$theme-accent-light : $color-pink-100;
$theme-accent-dark : $color-pink-700;
