$theme-primary : $color-indigo;
$theme-primary-light : $color-indigo-100;
$theme-primary-dark : $color-indigo-700;

$theme-accent : $color-pink;
$theme-accent-light : $color-pink-100;
$theme-accent-dark : $color-pink-700;
