.sheet {
    position: fixed;
    z-index: 850;
    background: transparent;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    @extend .row;
    @extend .row.no-margin;
    @include transform(translateY(100%) scale(0.01));
    @include transform-origin(50% 20%);
    @include transition(all .6s $easeInOutNew);

    .sheet-inner {
        @extend .col-xs;
        height: 100%;
        background:$color-white;
        padding: 0;
    }
    //&.left {
    //    @include transform(translateX(-100%));
    //}
    //
    //&.top {
    //    @include transform(translateY(-100%));
    //}
    //
    //&.right {
    //    @include transform(translateX(100%));
    //}
    //
    //&.bottom {
    //    @include transform(translateY(100%));
    //}
    &.active {
        @include transform(translate(0) scale(1));
    }
}
