<template name="indexLayout">
    <div class="paper" style="background: #f9f9f9; padding-top: 24px; padding-bottom: 24px;">
        <div style="padding: 16px; max-width: 1312px; margin: 0 auto;">
            <div class="row center-xs">
                <div class="col-md-fluid-18">
                    <div class="doc-icon-toggle">
                        <div class="row">
                            <div class="col-xs">
                                <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-heart"></i></a>
                            </div>
                            <div class="col-xs">
                                <a href="javscript:" class="icon-toggle hover ripple"><i class="mdi mdi-heart"></i></a>
                            </div>
                            <div class="col-xs">
                                <button class="icon-toggle pressed ripple"><i class="mdi mdi-heart"></i></button>
                            </div>
                            <div class="col-xs">
                                <a href="javscript:" class="icon-toggle ripple disabled"><i class="mdi mdi-heart"></i></a>
                            </div>
                        </div>
                        <div style="margin-top: 24px;"></div>
                        <div class="row">
                            <div class="col-xs">
                                <a href="javscript:" class="icon-toggle primary ripple"><i class="mdi mdi-heart"></i></a>
                            </div>
                            <div class="col-xs">
                                <a href="javscript:" class="icon-toggle primary hover ripple"><i class="mdi mdi-heart"></i></a>
                            </div>
                            <div class="col-xs">
                                <button class="icon-toggle primary pressed ripple"><i class="mdi mdi-heart"></i></button>
                            </div>
                            <div class="col-xs">
                                <a href="javscript:" class="icon-toggle primary ripple disabled"><i class="mdi mdi-heart"></i></a>
                            </div>
                        </div>

                        <div style="margin-top: 24px;"></div>
                        <div class="row">
                            <div class="col-xs">
                                <a href="javscript:" class="icon-toggle secondary ripple"><i class="mdi mdi-heart"></i></a>
                            </div>
                            <div class="col-xs">
                                <a href="javscript:" class="icon-toggle secondary hover ripple"><i class="mdi mdi-heart"></i></a>
                            </div>
                            <div class="col-xs">
                                <button class="icon-toggle secondary pressed ripple"><i class="mdi mdi-heart"></i></button>
                            </div>
                            <div class="col-xs">
                                <a href="javscript:" class="icon-toggle secondary ripple disabled"><i class="mdi mdi-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
