<template name="docareUserDoctorProfileLayout">
    {{#contentFor "pageTitle"}}Doctor Profile{{/contentFor}}
    <div class="paper" style="padding-top: 6px; padding-bottom: 6px;">
        <div style="max-width: 1312px; margin: 0 auto;">
            <div class="row center-xs">
                <div class="col-xs-fluid-24">
                    <div class="cards cards-profile style-2">
                        <div class="cards-profile-image-header">
                            <img src="/img/back1.png" class="cards-profile-image-header-background" alt="" />
                            <div class="middle-center">
                                <img src="/img/profile.png" class="cards-profile-content-account" alt="" />
                                <a href="javascript:" class="secondary raised-button ripple center"><i class="mdi mdi-plus"></i> Request Add</a>
                            </div>

                        </div>
                        <div class="cards-profile-content">
                            <div class="font-subhead">Dr. Lili Madiha <i class="mdi mdi-checkbox-marked-circle account-verify"></i></div>
                            <div class="font-body no-margin color-grey-700" style="line-height: 16px;">Doctor Account</div>
                            <div class="font-body no-margin color-grey-700" style="line-height: 16px;">Prince Court Medical Centre</div>
                            <div class="font-body no-margin color-grey-700" style="line-height: 16px;">Kuala Lumpur, Malaysia</div>
                            <div class="font-body no-margin color-grey-700" style="line-height: 16px;">Department of Orthopedic</div>
                        </div>
                    </div>
                    <div class="cards background-grey-100">
                        <div class="cards-text">
                            <div class="font-subhead no-margin font-center color-grey-700">Nothing to show up here</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
