<template name="docareUserActivity2Layout">
    {{#contentFor "pageTitle"}}My Activity{{/contentFor}}
    <div class="paper" style="padding-top: 6px; padding-bottom: 6px;">
        <div style="max-width: 1312px; margin: 0 auto;">
            <div class="row center-xs">
                <div class="col-xs-fluid-24">
                    <div class="cards cards-profile">
                        <div class="cards-profile-image-header">
                            <img src="/img/back1.png" class="cards-profile-image-header-background" alt="" />
                        </div>
                        <div class="cards-profile-content">
                            <img src="/img/profile.png" class="cards-profile-content-account" alt="" />
                            <div class="font-subhead no-margin">Nizul Zaim</div>
                            <div class="font-body no-margin color-grey-700">Patient Account</div>
                        </div>
                    </div>

                    <div class="cards">
                        <div class="cards-text">
                            <div class="font-subhead no-margin color-grey-900">
                                10 Oct 2015 Session
                            </div>
                            <div class="font-body color-grey-600">
                                Dr. Lili Madiha
                            </div>
                            <div class="font-body color-grey-700">
                                Nizul Zaim, your next session with me will be on 9.00 AM, 10 October on Saturday. Please inform me if any change that you want to make.
                            </div>
                        </div>
                        <div class="cards-action">
                            <a href="#" class="flat-button primary ripple">Re-Schedule</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="fab ripple secondary fixed">
        <i class="mdi mdi-message-text"></i>
    </a>
</template>
