<template name="docarePatientProfileLayout">
    {{#contentFor "pageTitle"}}Patient Profile{{/contentFor}}
    <div class="paper" style="padding-top: 6px; padding-bottom: 6px;">
        <div style="max-width: 1312px; margin: 0 auto;">
            <div class="row center-xs">
                <div class="col-xs-fluid-24">
                    <div class="cards cards-profile">
                        <div class="cards-profile-image-header">
                            <img src="/img/back1.png" class="cards-profile-image-header-background" alt="" />
                        </div>
                        <div class="cards-profile-content">
                            <img src="/img/profile.png" class="cards-profile-content-account" alt="" />
                            <div class="font-subhead no-margin">Nizul Zaim</div>
                            <div class="font-body no-margin color-grey-700">Patient Account</div>
                            <div class="font-body no-margin color-grey-700">+60 17304 7311</div>
                        </div>
                    </div>
                    <div class="" style="margin-bottom: 8px;">
                        <a href="javascript:" style="float: right" class="pull-right secondary raised-button ripple"><i class="mdi mdi-pencil"></i>Edit</a>
                        <a href="javascript:" style="float: right; margin-right: 4px;" class="pull-right primary raised-button ripple"><i class="mdi mdi-pencil"></i>Add Remarks</a>
                    </div>

                    <div class="cards">
                        <div class="cards-text">
                            <div class="font-subhead color-grey-900">
                                Patient Session Request
                            </div>

                            <div class="font-body color-grey-800">
                                This patient has made the request to schedule appointment with you.
                            </div>
                        </div>
                        <div class="cards-action">
                            <a href="#" class="flat-button ripple">Ignore</a>
                            <a href="#" class="flat-button primary ripple">Schedule</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <a href="#" class="fab ripple secondary fixed">
        <i class="mdi mdi-message-text"></i>
    </a>
</template>
