<template name="docareLogin1Layout">
    <div class="login1">
        <div class="login-background">

        </div>
        <div class="login-overlay">

        </div>
        <div class="login-content">
            <div class="paper" style="padding-top: 6px; padding-bottom: 6px; background: transparent">
                <div style="max-width: 1312px; margin: 0 auto;">
                    <div class="row center-xs">
                        <div class="col-xs-fluid-24">
                            <img src="/img/logo.png" alt="" style="margin-bottom: 24px; max-width: 65%; width: 65%"/>
                            <div class="cards">
                                <div class="cards-text">

                                    <div class="font-body color-grey-800">
                                        DoCare will send one time SMS message to verify your phone number. Carrier SMS charges maybe apply.
                                    </div>
                                    <form class="" action="index.html" method="post">
                                        <div class="input-textfield" style="margin-bottom: 10px;">
                                            <input type="text" name="text" placeholder="Hint Text" value="Malaysia" data-textfield="Some text here">
                                            <div class="border-line">

                                            </div>
                                        </div>
                                        <div class="input-textfield">
                                            <input type="text" name="text" placeholder="Hint Text" value="+60 " data-textfield="Some text here">
                                            <div class="border-line">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="cards-action">
                                    <div class="pull-right">
                                        <a href="#" class="flat-button secondary ripple">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
