<template name="uiButtonLayout">
    {{#contentFor "pageTitle"}}Buttons{{/contentFor}}
    <div class="paper background-grey-100" style="padding-top: 24px; padding-bottom: 24px;">
        <div class="row center-xs">
            <div class="col-md-2">
                <a href="#" class="fab center"><i class="mdi mdi-plus"></i></a>
            </div>
            <div class="col-md-2">
                <a href="#" class="fab center ripple"><i class="mdi mdi-plus"></i></a>
            </div>
            <div class="col-md-2">
                <a href="#" class="fab center ripple disabled"><i class="mdi mdi-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="paper background-white" style="text-align:center;padding-top: 14px; padding-bottom: 14px;">
        <div class="row center-xs">
            <div class="col-md-2 font-caption no-margin color-grey-700">Default FAB</div>
            <div class="col-md-2 font-caption no-margin color-grey-700">With Ripple</div>
            <div class="col-md-2 font-caption no-margin color-grey-700">FAB Disabled</div>
        </div>
    </div>
    <div class="code-view">
        {{>buttonCode1}}
    </div>
    <div class="code-view">
        {{>buttonCode2}}
    </div>
    <div class="code-view">
        {{>buttonCode3}}
    </div>

    <div class="paper background-grey-100" style="padding-top: 24px; padding-bottom: 24px;">
        <div class="row center-xs">
            <div class="col-md-2">
                <a href="#" class="fab center primary ripple"><i class="mdi mdi-plus"></i></a>
            </div>
            <div class="col-md-2">
                <a href="#" class="fab center secondary ripple"><i class="mdi mdi-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="paper background-white" style="text-align:center;padding-top: 14px; padding-bottom: 14px;">
        <div class="row center-xs">
            <div class="col-md-2 font-caption no-margin color-grey-700">Primary FAB</div>
            <div class="col-md-2 font-caption no-margin color-grey-700">Secondary FAB</div>
        </div>
    </div>
    <div class="code-view">
        {{>buttonCode4}}
    </div>
    <div class="code-view">
        {{>buttonCode5}}
    </div>

    <div class="paper background-grey-100" style="padding-top: 24px; padding-bottom: 24px;">
        <div class="row center-xs">
            <div class="col-md-2">
                <div>
                    <button class="raised-button center">Button</button>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <button class="raised-button center ripple">Button</button>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <button class="raised-button center ripple" disabled>Button</button>
                </div>
            </div>
        </div>
    </div>
    <div class="paper background-white" style="text-align:center;padding-top: 14px; padding-bottom: 14px;">
        <div class="row center-xs">
            <div class="col-md-2 font-caption no-margin color-grey-700">Raised Button</div>
            <div class="col-md-2 font-caption no-margin color-grey-700">With Ripple</div>
            <div class="col-md-2 font-caption no-margin color-grey-700">Disabled</div>
        </div>
    </div>
    <div class="code-view">
        {{>buttonCode6}}
    </div>
    <div class="code-view">
        {{>buttonCode7}}
    </div>
    <div class="code-view">
        {{>buttonCode8}}
    </div>

    <div class="paper background-grey-100" style="padding-top: 24px; padding-bottom: 24px;">
        <div class="row center-xs">
            <div class="col-md-2">
                <div>
                    <button class="raised-button primary center ripple">Button</button>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <button class="raised-button secondary center ripple">Button</button>
                </div>
            </div>
        </div>
    </div>
    <div class="paper background-white" style="text-align:center;padding-top: 14px; padding-bottom: 14px;">
        <div class="row center-xs">
            <div class="col-md-2 font-caption no-margin color-grey-700">Primary Raised</div>
            <div class="col-md-2 font-caption no-margin color-grey-700">Secondary Raised</div>
        </div>
    </div>
    <div class="code-view">
        {{>buttonCode9}}
    </div>
    <div class="code-view">
        {{>buttonCode10}}
    </div>


    <div class="paper background-grey-100" style="padding-top: 24px; padding-bottom: 24px;">
        <div class="row center-xs">
            <div class="col-md-2">
                <div>
                    <button class="flat-button center">Button</button>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <button class="flat-button center ripple">Button</button>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <button class="flat-button center ripple" disabled>Button</button>
                </div>
            </div>
        </div>
    </div>
    <div class="paper background-white" style="text-align:center;padding-top: 14px; padding-bottom: 14px;">
        <div class="row center-xs">
            <div class="col-md-2 font-caption no-margin color-grey-700">Flat Button</div>
            <div class="col-md-2 font-caption no-margin color-grey-700">With Ripple</div>
            <div class="col-md-2 font-caption no-margin color-grey-700">Disabled</div>
        </div>
    </div>
    <div class="code-view">
        {{>buttonCode11}}
    </div>
    <div class="code-view">
        {{>buttonCode12}}
    </div>
    <div class="code-view">
        {{>buttonCode13}}
    </div>

    <div class="paper background-grey-100" style="padding-top: 24px; padding-bottom: 24px;">
        <div class="row center-xs">
            <div class="col-md-2">
                <div>
                    <button class="flat-button primary center ripple">Button</button>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <button class="flat-button secondary center ripple">Button</button>
                </div>
            </div>
        </div>
    </div>
    <div class="paper background-white" style="text-align:center;padding-top: 14px; padding-bottom: 14px;">
        <div class="row center-xs">
            <div class="col-md-2 font-caption no-margin color-grey-700">Primary Flat</div>
            <div class="col-md-2 font-caption no-margin color-grey-700">Secondary Flat</div>
        </div>
    </div>
    <div class="code-view">
        {{>buttonCode14}}
    </div>
    <div class="code-view">
        {{>buttonCode15}}
    </div>

</template>

<template name="buttonCode1">
{{#markdown}}
```
<a href="#" class="fab">
    <i class="mdi mdi-plus"></i>
</a>
```
{{/markdown}}
</template>

<template name="buttonCode2">
{{#markdown}}
```
<a href="#" class="fab ripple">
    <i class="mdi mdi-plus"></i>
</a>
```
{{/markdown}}
</template>

<template name="buttonCode3">
{{#markdown}}
```
<a href="#" class="fab ripple disabled">
    <i class="mdi mdi-plus"></i>
</a>
```
{{/markdown}}
</template>

<template name="buttonCode4">
{{#markdown}}
```
<a href="#" class="fab ripple primary">
    <i class="mdi mdi-plus"></i>
</a>
```
{{/markdown}}
</template>

<template name="buttonCode5">
{{#markdown}}
```
<a href="#" class="fab ripple secondary">
    <i class="mdi mdi-plus"></i>
</a>
```
{{/markdown}}
</template>

<template name="buttonCode6">
{{#markdown}}
```
<button class="primary-button">Button</button>
```
{{/markdown}}
</template>

<template name="buttonCode7">
{{#markdown}}
```
<button class="primary-button">Button</button>
```
{{/markdown}}
</template>

<template name="buttonCode8">
{{#markdown}}
```
<button class="primary-button ripple" disabled>Button</button>
```
{{/markdown}}
</template>

<template name="buttonCode9">
{{#markdown}}
```
<button class="primary-button primary ripple">Button</button>
```
{{/markdown}}
</template>

<template name="buttonCode10">
{{#markdown}}
```
<button class="primary-button secondary ripple">Button</button>
```
{{/markdown}}
</template>

<template name="buttonCode11">
{{#markdown}}
```
<button class="flat-button">Button</button>
```
{{/markdown}}
</template>

<template name="buttonCode12">
{{#markdown}}
```
<button class="flat-button">Button</button>
```
{{/markdown}}
</template>

<template name="buttonCode13">
{{#markdown}}
```
<button class="flat-button ripple" disabled>Button</button>
```
{{/markdown}}
</template>

<template name="buttonCode14">
{{#markdown}}
```
<button class="flat-button primary ripple">Button</button>
```
{{/markdown}}
</template>

<template name="buttonCode15">
{{#markdown}}
```
<button class="flat-button secondary ripple">Button</button>
```
{{/markdown}}
</template>
