<template name="uiCardsLayout">
    <div class="page-container">
        <div class="paper" style="background: #eeeeee; padding-top: 24px; padding-bottom: 24px;">
            <div style="padding: 16px; max-width: 1312px; margin: 0 auto;">
                <div class="row center-xs">
                    <div class="col-md-fluid-7">
                        <div class="cards">
                            <div class="cards-image">
                                <img src="/img/back1.png" alt="" />
                            </div>
                            <div class="cards-text">
                                <div class="font-body no-margin font-grey-900">
                                    Greyhound divisively hello coldly wonderfully marginally far upon excluding
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-fluid-21">
                        <div class="code-block">
                            {{> cardsCode1}}
                        </div>
                    </div>

                    <div class="col-md-fluid-7">
                        <div class="cards">
                            <div class="cards-image">
                                <img src="/img/back1.png" alt="" />
                            </div>
                            <div class="cards-text">
                                <div class="font-body no-margin font-grey-900">
                                    Greyhound divisively hello coldly wonderfully marginally far upon excluding
                                </div>
                            </div>
                            <div class="cards-action">
                                <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-heart"></i></a>
                                <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-share"></i></a>

                                <div class="pull-right">
                                    <a href="#" class="flat-button ripple">Action</a>
                                    <a href="#" class="flat-button primary ripple">Action</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-fluid-21">
                        <div class="code-block">
                            {{> cardsCode2}}
                        </div>
                    </div>

                    <div class="col-md-fluid-7">
                        <div class="cards">
                            <div class="cards-header">
                                <img src="/img/profile.png" alt="">
                                <div class="cards-header-title">Title</div>
                                <div class="cards-header-subtitle">Subhead</div>
                            </div>
                            <div class="cards-image">
                                <img src="/img/back1.png" alt="" />
                            </div>
                            <div class="cards-text">
                                <div class="font-body no-margin font-grey-900">
                                    Greyhound divisively hello coldly wonderfully marginally far upon excluding
                                </div>
                            </div>
                            <div class="cards-action">
                                <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-heart"></i></a>
                                <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-share"></i></a>

                                <div class="pull-right">
                                    <a href="#" class="flat-button ripple">Action</a>
                                    <a href="#" class="flat-button primary ripple">Action</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-fluid-7">
                        <div class="cards">
                            <div class="cards-header">
                                <a href="javascript:;">
                                    <img src="/img/profile.png" alt="">
                                </a>
                                <a href="javascript:;" class="cards-header-title">Title</a>
                                <div class="cards-header-subtitle">Subhead</div>
                            </div>
                            <div class="cards-image">
                                <img src="/img/back1.png" alt="" />
                            </div>
                            <div class="cards-text">
                                <div class="font-body no-margin font-grey-900">
                                    Greyhound divisively hello coldly wonderfully marginally far upon excluding
                                </div>
                            </div>
                            <div class="cards-action">
                                <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-heart"></i></a>
                                <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-share"></i></a>

                                <div class="pull-right">
                                    <a href="#" class="flat-button ripple">Action</a>
                                    <a href="#" class="flat-button primary ripple">Action</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-fluid-21">
                        <div class="code-block">
                            {{> cardsCode3}}
                        </div>
                    </div>

                    <div class="col-md-fluid-7">
                        <div class="cards">
                            <div class="cards-image">
                                <img src="/img/back1.png" alt="" />
                            </div>
                            <div class="cards-text">
                                <div class="font-headline no-margin font-grey-900">
                                    Title Goes Here
                                </div>
                                <div class="font-body no-margin font-grey-700">
                                    Subtitle here
                                </div>
                            </div>
                            <div class="cards-action">
                                <a href="#" class="flat-button ripple">Action</a>
                                <a href="#" class="flat-button primary ripple">Action</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-fluid-21">
                        <div class="code-block">
                            {{> cardsCode4}}
                        </div>
                    </div>

                    <div class="col-md-fluid-7">
                        <div class="cards">
                            <div class="cards-text">
                                <div class="font-headline no-margin font-grey-900">
                                    Title Goes Here
                                </div>
                                <div class="font-body font-grey-700">
                                    Subtitle here
                                </div>

                                <div class="font-body font-grey-800">
                                    I'm a thing. But like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all bed making you'll be doing. Then we'll we go with data file! Hey, you add a one or two zeroes to that or we walk! You're going to do his laundry? I've got to find a way to escape.
                                </div>
                            </div>
                            <div class="cards-action">
                                <a href="#" class="flat-button ripple">Action</a>
                                <a href="#" class="flat-button primary ripple">Action</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-fluid-21">
                        <div class="code-block">
                            {{> cardsCode5}}
                        </div>
                    </div>

                    <div class="col-md-fluid-7">
                        <div class="cards">
                            <div class="cards-image">
                                <img src="/img/back1.png" alt="" />
                            </div>
                            <div class="cards-action">
                                <div class="pull-right">
                                    <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-heart"></i></a>
                                    <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-bookmark"></i></a>
                                    <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-share"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-fluid-21">
                        <div class="code-block">
                            {{> cardsCode6}}
                        </div>
                    </div>

                    <div class="col-md-fluid-7">
                        <div class="cards">
                            <div class="cards-horizontal">
                                <div class="cards-horizontal-text">
                                    <div class="font-headline no-margin font-grey-900">
                                        Title Here
                                    </div>
                                    <div class="font-body no-margin font-grey-700">
                                        Subtitle here
                                    </div>
                                </div>
                                <div class="cards-horizontal-image size-80">
                                    <img src="/img/profile.png" alt="" />
                                </div>

                            </div>
                            <div class="cards-action">
                                <a href="#" class="flat-button ripple">Action</a>
                                <a href="#" class="flat-button primary ripple">Action</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-fluid-21">
                        <div class="code-block">
                            {{> cardsCode7}}
                        </div>
                    </div>

                    <div class="col-md-fluid-7">
                        <div class="cards">
                            <div class="cards-horizontal">
                                <div class="cards-horizontal-text">
                                    <div class="font-headline no-margin font-grey-900">
                                        Title Here
                                    </div>
                                    <div class="font-body no-margin font-grey-700">
                                        Subtitle here
                                    </div>
                                </div>
                                <div class="cards-horizontal-image size-112">
                                    <img src="/img/profile.png" alt="" />
                                </div>

                            </div>
                            <div class="cards-action">
                                <a href="#" class="flat-button ripple">Action</a>
                                <a href="#" class="flat-button primary ripple">Action</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-fluid-21">
                        <div class="code-block">
                            {{> cardsCode8}}
                        </div>
                    </div>

                    <div class="col-md-fluid-7">
                        <div class="cards">
                            <div class="cards-horizontal">
                                <div class="cards-horizontal-text">
                                    <div class="font-headline no-margin font-grey-900">
                                        Title Here
                                    </div>
                                    <div class="font-body no-margin font-grey-700">
                                        Subtitle here
                                    </div>
                                </div>
                                <div class="cards-horizontal-image size-152">
                                    <img src="/img/profile.png" alt="" />
                                </div>

                            </div>
                            <div class="cards-action">
                                <a href="#" class="flat-button ripple">Action</a>
                                <a href="#" class="flat-button primary ripple">Action</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-fluid-21">
                        <div class="code-block">
                            {{> cardsCode9}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="cardsCode1">
{{#markdown}}
```
<div class="cards">
    <div class="cards-image">
        <img src="/img/back1.png" alt="" />
    </div>
    <div class="cards-text">
        <div class="font-body no-margin font-grey-900">
            Greyhound divisively hello coldly wonderfully marginally far upon excluding
        </div>
    </div>
</div>
```
{{/markdown}}
</template>

<template name="cardsCode2">
{{#markdown}}
```
<div class="cards">
    <div class="cards-image">
        <img src="/img/back1.png" alt="" />
    </div>
    <div class="cards-text">
        <div class="font-body no-margin font-grey-900">
            Greyhound divisively hello coldly wonderfully marginally far upon excluding
        </div>
    </div>
    <div class="cards-action">
        <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-heart"></i></a>
        <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-share"></i></a>

        <div class="pull-right">
            <a href="#" class="flat-button ripple">Action</a>
            <a href="#" class="flat-button primary ripple">Action</a>
        </div>
    </div>
</div>
```
{{/markdown}}
</template>

<template name="cardsCode3">
{{#markdown}}
```
<div class="cards">
    <div class="cards-header">
        <img src="/img/profile.png" alt="">
        <div class="cards-header-title">Title</div>
        <div class="cards-header-subtitle">Subhead</div>
    </div>
    <div class="cards-image">
        <img src="/img/back1.png" alt="" />
    </div>
    <div class="cards-text">
        <div class="font-body no-margin font-grey-900">
            Greyhound divisively hello coldly wonderfully marginally far upon excluding
        </div>
    </div>
    <div class="cards-action">
        <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-heart"></i></a>
        <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-share"></i></a>

        <div class="pull-right">
            <a href="#" class="flat-button ripple">Action</a>
            <a href="#" class="flat-button primary ripple">Action</a>
        </div>
    </div>
</div>

<div class="cards">
    <div class="cards-header">
        <a href="javascript:;">
            <img src="/img/profile.png" alt="">
        </a>
        <a href="javascript:;" class="cards-header-title">Title</a>
        <div class="cards-header-subtitle">Subhead</div>
    </div>
    <div class="cards-image">
        <img src="/img/back1.png" alt="" />
    </div>
    <div class="cards-text">
        <div class="font-body no-margin font-grey-900">
            Greyhound divisively hello coldly wonderfully marginally far upon excluding
        </div>
    </div>
    <div class="cards-action">
        <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-heart"></i></a>
        <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-share"></i></a>

        <div class="pull-right">
            <a href="#" class="flat-button ripple">Action</a>
            <a href="#" class="flat-button primary ripple">Action</a>
        </div>
    </div>
</div>
```
{{/markdown}}
</template>

<template name="cardsCode4">
{{#markdown}}
```
<div class="cards">
    <div class="cards-image">
        <img src="/img/back1.png" alt="" />
    </div>
    <div class="cards-text">
        <div class="font-headline no-margin font-grey-900">
            Title Goes Here
        </div>
        <div class="font-body no-margin font-grey-700">
            Subtitle here
        </div>
    </div>
    <div class="cards-action">
        <a href="#" class="flat-button ripple">Action</a>
        <a href="#" class="flat-button primary ripple">Action</a>
    </div>
</div>
```
{{/markdown}}
</template>

<template name="cardsCode5">
{{#markdown}}
```
<div class="cards">
    <div class="cards-text">
        <div class="font-headline no-margin font-grey-900">
            Title Goes Here
        </div>
        <div class="font-body font-grey-700">
            Subtitle here
        </div>

        <div class="font-body font-grey-800">
            Im a thing. But like most politicians ...
        </div>
    </div>
    <div class="cards-action">
        <a href="#" class="flat-button ripple">Action</a>
        <a href="#" class="flat-button primary ripple">Action</a>
    </div>
</div>
```
{{/markdown}}
</template>

<template name="cardsCode6">
{{#markdown}}
```
<div class="cards">
    <div class="cards-image">
        <img src="/img/back1.png" alt="" />
    </div>
    <div class="cards-action">
        <div class="pull-right">
            <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-heart"></i></a>
            <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-bookmark"></i></a>
            <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-share"></i></a>
        </div>
    </div>
</div>
```
{{/markdown}}
</template>

<template name="cardsCode7">
{{#markdown}}
```html
<div class="cards">
    <div class="cards-horizontal">
        <div class="cards-horizontal-text">
            <div class="font-headline no-margin font-grey-900">
                Title Here
            </div>
            <div class="font-body no-margin font-grey-700">
                Subtitle here
            </div>
        </div>
        <div class="cards-horizontal-image size-80">
            <img class="pull-right" src="/img/profile.png" alt="" />
        </div>

    </div>
    <div class="cards-action">
        <a href="#" class="flat-button ripple">Action</a>
        <a href="#" class="flat-button primary ripple">Action</a>
    </div>
</div>
```
{{/markdown}}
</template>

<template name="cardsCode8">
{{#markdown}}
```html
<div class="cards">
    <div class="cards-horizontal">
        <div class="cards-horizontal-text">
            <div class="font-headline no-margin font-grey-900">
                Title Here
            </div>
            <div class="font-body no-margin font-grey-700">
                Subtitle here
            </div>
        </div>
        <div class="cards-horizontal-image size-112">
            <img class="pull-right" src="/img/profile.png" alt="" />
        </div>

    </div>
    <div class="cards-action">
        <a href="#" class="flat-button ripple">Action</a>
        <a href="#" class="flat-button primary ripple">Action</a>
    </div>
</div>
```
{{/markdown}}
</template>

<template name="cardsCode9">
{{#markdown}}
```html
<div class="cards">
    <div class="cards-horizontal">
        <div class="cards-horizontal-text">
            <div class="font-headline no-margin font-grey-900">
                Title Here
            </div>
            <div class="font-body no-margin font-grey-700">
                Subtitle here
            </div>
        </div>
        <div class="cards-horizontal-image size-152">
            <img class="pull-right" src="/img/profile.png" alt="" />
        </div>

    </div>
    <div class="cards-action">
        <a href="#" class="flat-button ripple">Action</a>
        <a href="#" class="flat-button primary ripple">Action</a>
    </div>
</div>
```
{{/markdown}}
</template>
