<template name="uiCheckboxLayout">
    <div class="page-container">
        <div class="paper" style="background: #f9f9f9; padding-top: 24px; padding-bottom: 24px;">
            <div style="padding: 16px; max-width: 1312px; margin: 0 auto;">
                <p>
                    <input type="checkbox" data-mx-checkbox>
                    <span style="line-height:24px; padding-left:12px;">I agree with terms and condition.</span>
                </p>

                <p>
                    <input type="checkbox" checked data-mx-checkbox>
                    <span style="line-height:24px; padding-left:12px;">I agree with terms and condition.</span>
                </p>

                <p>
                    <input type="checkbox" disabled data-mx-checkbox>
                    <span style="line-height:24px; padding-left:12px;">I agree with terms and condition.</span>
                </p>

                <p>
                    <input type="checkbox" checked disabled data-mx-checkbox>
                    <span style="line-height:24px; padding-left:12px;">I agree with terms and condition.</span>
                </p>
            </div>
        </div>
    </div>
</template>
