<template name="uiSelectLayout">
    {{#contentFor "pageTitle"}}Select Dropdown{{/contentFor}}
    <div class="paper" style="background: #eeeeee; padding-top: 24px; padding-bottom: 24px;">
        <div style="padding: 16px; max-width: 1312px; margin: 0 auto; padding-bottom: 200px">
            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Normal with Hint Text
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <select>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>
