<template name="uiTableLayout">
    <div class="page-container">
        <div class="paper" style="background: #eeeeee; padding-top: 24px; padding-bottom: 24px;">
            <div style="padding: 16px; max-width: 1312px; margin: 0 auto;">
                <div class="cards">
                    <div class="cards-table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="th-checkbox">
                                        <input type="checkbox" name="some_name" data-mx-checkbox >
                                    </th>
                                    <th>
                                        Dessert (100g serving)
                                    </th>
                                    <th class="th-number">
                                        Calories
                                    </th>
                                    <th class="th-number">
                                        Fat (g)
                                    </th>
                                    <th class="th-number">
                                        Carbs (g)
                                    </th>
                                    <th class="th-number">
                                        Protein (g)
                                    </th>
                                    <th class="th-number">
                                        Sodium (mg)
                                    </th>
                                    <th class="th-number">
                                        Calcium (%)
                                    </th>
                                    <th class="th-number">
                                        Iron (%)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="some_name" data-mx-checkbox>
                                    </td>
                                    <td>Kitkat</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" checked name="some_name" data-mx-checkbox>
                                    </td>
                                    <td>Kitkat</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="some_name" data-mx-checkbox>
                                    </td>
                                    <td>Kitkat</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" checked name="some_name" data-mx-checkbox>
                                    </td>
                                    <td>Kitkat</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="some_name" data-mx-checkbox>
                                    </td>
                                    <td>Kitkat</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" checked name="some_name" data-mx-checkbox>
                                    </td>
                                    <td>Kitkat</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="some_name" data-mx-checkbox>
                                    </td>
                                    <td>Kitkat</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" checked name="some_name" data-mx-checkbox>
                                    </td>
                                    <td>Kitkat</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="some_name" data-mx-checkbox>
                                    </td>
                                    <td>Kitkat</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" checked name="some_name" data-mx-checkbox>
                                    </td>
                                    <td>Kitkat</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                    <td class="td-number">100</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="table-footer">
                            <div class="pull-right">
                                <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-chevron-left"></i></a>
                                <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-chevron-right"></i></a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
