<template name="uiTextfieldLayout">
    {{#contentFor "pageTitle"}}Textfield{{/contentFor}}
    <div class="paper" style="background: #eeeeee; padding-top: 24px; padding-bottom: 24px;">
        <div style="padding: 16px; max-width: 1312px; margin: 0 auto;">
            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Normal with Hint Text
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" name="text" placeholder="Hint Text" data-textfield>
                </div>
            </div>
            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Normal with Input Text
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" name="text" placeholder="Hint Text" value="Input text" data-textfield>
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Primary Guide text
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" name="text" placeholder="Hint Text" value="Input text" data-textfield="Some text here">
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Error Guide text
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" class="error" name="text" placeholder="Hint Text" value="Input text" data-textfield="Some text here">
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Success Guide text
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" class="success" name="text" placeholder="Hint Text" value="Input text" data-textfield="Some text here">
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Disabled
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" class="success" name="text" placeholder="Hint Text" value="Input text" disabled="" data-textfield>
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Success Guide text (Disabled)
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" class="success" name="text" placeholder="Hint Text" value="Input text" data-textfield="Some text here" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="paper" style="background: #212121; padding-top: 24px; padding-bottom: 24px;">
        <div style="padding: 16px; max-width: 1312px; margin: 0 auto;">
            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Normal with Hint Text
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" name="text" class="inverse" placeholder="Hint Text" data-textfield>
                </div>
            </div>
            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Normal with Input Text
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" name="text" class="inverse" placeholder="Hint Text" value="Input text" data-textfield>
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Primary Guide text
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" name="text" class="inverse" placeholder="Hint Text" value="Input text" data-textfield="Some text here">
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Error Guide text
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" class="error inverse" name="text" placeholder="Hint Text" value="Input text" data-textfield="Some text here">
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Success Guide text
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" class="success inverse" name="text" placeholder="Hint Text" value="Input text" data-textfield="Some text here">
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Disabled
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" class="success inverse" name="text" placeholder="Hint Text" value="Input text" disabled="" data-textfield>
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Success Guide text (Disabled)
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" class="success inverse" name="text" placeholder="Hint Text" value="Input text" data-textfield="Some text here" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="paper" style="background: #eeeeee; padding-top: 24px; padding-bottom: 24px;">
        <div style="padding: 16px; max-width: 1312px; margin: 0 auto;">
            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Normal with Hint Text
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" name="text" placeholder="Hint Text" data-floating-field>
                </div>
            </div>
            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Normal with Input Text
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" name="text" placeholder="Hint Text" value="Input text" data-floating-field>
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Primary Guide text
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" name="text" placeholder="Hint Text" value="Input text" data-floating-field="Some text here">
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Error Guide text
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" class="error" name="text" placeholder="Hint Text" value="Input text" data-floating-field="Some text here">
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Success Guide text
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" class="success" name="text" placeholder="Hint Text" value="Input text" data-floating-field="Some text here">
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Disabled
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" class="success" name="text" placeholder="Hint Text" value="Input text" disabled="" data-floating-field>
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-md-fluid-4">
                    <p style="line-height: 48px; font-size: 13px; color: #a1a1a1; margin: 0; text-align:right">
                        Success Guide text (Disabled)
                    </p>
                </div>
                <div class="col-md-fluid-7 col-md-offset-1">
                    <input type="text" class="success" name="text" placeholder="Hint Text" value="Input text" data-textfield="Some text here" disabled>
                </div>
            </div>
        </div>
    </div>
</template>
