<template name="uiColorLayout">
    {{#contentFor "pageTitle"}}Color{{/contentFor}}
    <div style="padding: 16px; max-width: 1312px; margin: 0 auto">
        <div class="row">
            <div class="col-xs-24">
                <div class="font-headline">Normal Background Color</div>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-red">Red</li>
                    <li class="color-list background-red">.color-red</li>
                    <li class="color-list background-red-50 color-inverse">.color-red-50</li>
                    <li class="color-list background-red-100 color-inverse">.color-red-100</li>
                    <li class="color-list background-red-200 color-inverse">.color-red-200</li>
                    <li class="color-list background-red-300 color-inverse">.color-red-300</li>
                    <li class="color-list background-red-400">.color-red-400</li>
                    <li class="color-list background-red-500">.color-red-500</li>
                    <li class="color-list background-red-600">.color-red-600</li>
                    <li class="color-list background-red-700">.color-red-700</li>
                    <li class="color-list background-red-800">.color-red-800</li>
                    <li class="color-list background-red-900">.color-red-900</li>
                    <li class="color-list background-red-A100 color-inverse">.color-red-A100</li>
                    <li class="color-list background-red-A200">.color-red-A200</li>
                    <li class="color-list background-red-A400">.color-red-A400</li>
                    <li class="color-list background-red-A700">.color-red-A700</li>
                </ul>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-pink">Pink</li>
                    <li class="color-list background-pink">.color-pink</li>
                    <li class="color-list background-pink-50 color-inverse">.color-pink-50</li>
                    <li class="color-list background-pink-100 color-inverse">.color-pink-100</li>
                    <li class="color-list background-pink-200 color-inverse">.color-pink-200</li>
                    <li class="color-list background-pink-300">.color-pink-300</li>
                    <li class="color-list background-pink-400">.color-pink-400</li>
                    <li class="color-list background-pink-500">.color-pink-500</li>
                    <li class="color-list background-pink-600">.color-pink-600</li>
                    <li class="color-list background-pink-700">.color-pink-700</li>
                    <li class="color-list background-pink-800">.color-pink-800</li>
                    <li class="color-list background-pink-900">.color-pink-900</li>
                    <li class="color-list background-pink-A100 color-inverse">.color-pink-A100</li>
                    <li class="color-list background-pink-A200">.color-pink-A200</li>
                    <li class="color-list background-pink-A400">.color-pink-A400</li>
                    <li class="color-list background-pink-A700">.color-pink-A700</li>
                </ul>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-purple">purple</li>
                    <li class="color-list background-purple">.color-purple</li>
                    <li class="color-list background-purple-50 color-inverse">.color-purple-50</li>
                    <li class="color-list background-purple-100 color-inverse">.color-purple-100</li>
                    <li class="color-list background-purple-200 color-inverse">.color-purple-200</li>
                    <li class="color-list background-purple-300">.color-purple-300</li>
                    <li class="color-list background-purple-400">.color-purple-400</li>
                    <li class="color-list background-purple-500">.color-purple-500</li>
                    <li class="color-list background-purple-600">.color-purple-600</li>
                    <li class="color-list background-purple-700">.color-purple-700</li>
                    <li class="color-list background-purple-800">.color-purple-800</li>
                    <li class="color-list background-purple-900">.color-purple-900</li>
                    <li class="color-list background-purple-A100 color-inverse">.color-purple-A100</li>
                    <li class="color-list background-purple-A200">.color-purple-A200</li>
                    <li class="color-list background-purple-A400">.color-purple-A400</li>
                    <li class="color-list background-purple-A700">.color-purple-A700</li>
                </ul>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-purple">deep-purple</li>
                    <li class="color-list background-purple">.color-deep-purple</li>
                    <li class="color-list background-purple-50 color-inverse">.color-deep-purple-50</li>
                    <li class="color-list background-purple-100 color-inverse">.color-deep-purple-100</li>
                    <li class="color-list background-purple-200 color-inverse">.color-deep-purple-200</li>
                    <li class="color-list background-purple-300">.color-deep-purple-300</li>
                    <li class="color-list background-purple-400">.color-deep-purple-400</li>
                    <li class="color-list background-purple-500">.color-deep-purple-500</li>
                    <li class="color-list background-purple-600">.color-deep-purple-600</li>
                    <li class="color-list background-purple-700">.color-deep-purple-700</li>
                    <li class="color-list background-purple-800">.color-deep-purple-800</li>
                    <li class="color-list background-purple-900">.color-deep-purple-900</li>
                    <li class="color-list background-purple-A100 color-inverse">.color-deep-purple-A100</li>
                    <li class="color-list background-purple-A200">.color-deep-purple-A200</li>
                    <li class="color-list background-purple-A400">.color-deep-purple-A400</li>
                    <li class="color-list background-purple-A700">.color-deep-purple-A700</li>
                </ul>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-indigo">indigo</li>
                    <li class="color-list background-indigo">.color-indigo</li>
                    <li class="color-list background-indigo-50 color-inverse">.color-indigo-50</li>
                    <li class="color-list background-indigo-100 color-inverse">.color-indigo-100</li>
                    <li class="color-list background-indigo-200 color-inverse">.color-indigo-200</li>
                    <li class="color-list background-indigo-300">.color-indigo-300</li>
                    <li class="color-list background-indigo-400">.color-indigo-400</li>
                    <li class="color-list background-indigo-500">.color-indigo-500</li>
                    <li class="color-list background-indigo-600">.color-indigo-600</li>
                    <li class="color-list background-indigo-700">.color-indigo-700</li>
                    <li class="color-list background-indigo-800">.color-indigo-800</li>
                    <li class="color-list background-indigo-900">.color-indigo-900</li>
                    <li class="color-list background-indigo-A100 color-inverse">.color-indigo-A100</li>
                    <li class="color-list background-indigo-A200">.color-indigo-A200</li>
                    <li class="color-list background-indigo-A400">.color-indigo-A400</li>
                    <li class="color-list background-indigo-A700">.color-indigo-A700</li>
                </ul>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-blue">blue</li>
                    <li class="color-list background-blue">.color-blue</li>
                    <li class="color-list background-blue-50 color-inverse">.color-blue-50</li>
                    <li class="color-list background-blue-100 color-inverse">.color-blue-100</li>
                    <li class="color-list background-blue-200 color-inverse">.color-blue-200</li>
                    <li class="color-list background-blue-300 color-inverse">.color-blue-300</li>
                    <li class="color-list background-blue-400 color-inverse">.color-blue-400</li>
                    <li class="color-list background-blue-500">.color-blue-500</li>
                    <li class="color-list background-blue-600">.color-blue-600</li>
                    <li class="color-list background-blue-700">.color-blue-700</li>
                    <li class="color-list background-blue-800">.color-blue-800</li>
                    <li class="color-list background-blue-900">.color-blue-900</li>
                    <li class="color-list background-blue-A100 color-inverse">.color-blue-A100</li>
                    <li class="color-list background-blue-A200">.color-blue-A200</li>
                    <li class="color-list background-blue-A400">.color-blue-A400</li>
                    <li class="color-list background-blue-A700">.color-blue-A700</li>
                </ul>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-light-blue">light-blue</li>
                    <li class="color-list background-light-blue color-inverse">.color-light-blue</li>
                    <li class="color-list background-light-blue-50 color-inverse">.color-light-blue-50</li>
                    <li class="color-list background-light-blue-100 color-inverse">.color-light-blue-100</li>
                    <li class="color-list background-light-blue-200 color-inverse">.color-light-blue-200</li>
                    <li class="color-list background-light-blue-300 color-inverse">.color-light-blue-300</li>
                    <li class="color-list background-light-blue-400 color-inverse">.color-light-blue-400</li>
                    <li class="color-list background-light-blue-500 color-inverse">.color-light-blue-500</li>
                    <li class="color-list background-light-blue-600">.color-light-blue-600</li>
                    <li class="color-list background-light-blue-700">.color-light-blue-700</li>
                    <li class="color-list background-light-blue-800">.color-light-blue-800</li>
                    <li class="color-list background-light-blue-900">.color-light-blue-900</li>
                    <li class="color-list background-light-blue-A100 color-inverse">.color-light-blue-A100</li>
                    <li class="color-list background-light-blue-A200 color-inverse">.color-light-blue-A200</li>
                    <li class="color-list background-light-blue-A400 color-inverse">.color-light-blue-A400</li>
                    <li class="color-list background-light-blue-A700">.color-light-blue-A700</li>
                </ul>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-cyan color-inverse">cyan</li>
                    <li class="color-list background-cyan color-inverse">.color-cyan</li>
                    <li class="color-list background-cyan-50 color-inverse">.color-cyan-50</li>
                    <li class="color-list background-cyan-100 color-inverse">.color-cyan-100</li>
                    <li class="color-list background-cyan-200 color-inverse">.color-cyan-200</li>
                    <li class="color-list background-cyan-300 color-inverse">.color-cyan-300</li>
                    <li class="color-list background-cyan-400 color-inverse">.color-cyan-400</li>
                    <li class="color-list background-cyan-500 color-inverse">.color-cyan-500</li>
                    <li class="color-list background-cyan-600 color-inverse">.color-cyan-600</li>
                    <li class="color-list background-cyan-700">.color-cyan-700</li>
                    <li class="color-list background-cyan-800">.color-cyan-800</li>
                    <li class="color-list background-cyan-900">.color-cyan-900</li>
                    <li class="color-list background-cyan-A100 color-inverse">.color-cyan-A100</li>
                    <li class="color-list background-cyan-A200 color-inverse">.color-cyan-A200</li>
                    <li class="color-list background-cyan-A400 color-inverse">.color-cyan-A400</li>
                    <li class="color-list background-cyan-A700 color-inverse">.color-cyan-A700</li>
                </ul>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-teal">teal</li>
                    <li class="color-list background-teal">.color-teal</li>
                    <li class="color-list background-teal-50 color-inverse">.color-teal-50</li>
                    <li class="color-list background-teal-100 color-inverse">.color-teal-100</li>
                    <li class="color-list background-teal-200 color-inverse">.color-teal-200</li>
                    <li class="color-list background-teal-300 color-inverse">.color-teal-300</li>
                    <li class="color-list background-teal-400 color-inverse">.color-teal-400</li>
                    <li class="color-list background-teal-500">.color-teal-500</li>
                    <li class="color-list background-teal-600">.color-teal-600</li>
                    <li class="color-list background-teal-700">.color-teal-700</li>
                    <li class="color-list background-teal-800">.color-teal-800</li>
                    <li class="color-list background-teal-900">.color-teal-900</li>
                    <li class="color-list background-teal-A100 color-inverse">.color-teal-A100</li>
                    <li class="color-list background-teal-A200 color-inverse">.color-teal-A200</li>
                    <li class="color-list background-teal-A400 color-inverse">.color-teal-A400</li>
                    <li class="color-list background-teal-A700 color-inverse">.color-teal-A700</li>
                </ul>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-green">green</li>
                    <li class="color-list background-green color-inverse">.color-green</li>
                    <li class="color-list background-green-50 color-inverse">.color-green-50</li>
                    <li class="color-list background-green-100 color-inverse">.color-green-100</li>
                    <li class="color-list background-green-200 color-inverse">.color-green-200</li>
                    <li class="color-list background-green-300 color-inverse">.color-green-300</li>
                    <li class="color-list background-green-400 color-inverse">.color-green-400</li>
                    <li class="color-list background-green-500 color-inverse">.color-green-500</li>
                    <li class="color-list background-green-600">.color-green-600</li>
                    <li class="color-list background-green-700">.color-green-700</li>
                    <li class="color-list background-green-800">.color-green-800</li>
                    <li class="color-list background-green-900">.color-green-900</li>
                    <li class="color-list background-green-A100 color-inverse">.color-green-A100</li>
                    <li class="color-list background-green-A200 color-inverse">.color-green-A200</li>
                    <li class="color-list background-green-A400 color-inverse">.color-green-A400</li>
                    <li class="color-list background-green-A700 color-inverse">.color-green-A700</li>
                </ul>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-light-green color-inverse">light-green</li>
                    <li class="color-list background-light-green color-inverse">.color-light-green</li>
                    <li class="color-list background-light-green-50 color-inverse">.color-light-green-50</li>
                    <li class="color-list background-light-green-100 color-inverse">.color-light-green-100</li>
                    <li class="color-list background-light-green-200 color-inverse">.color-light-green-200</li>
                    <li class="color-list background-light-green-300 color-inverse">.color-light-green-300</li>
                    <li class="color-list background-light-green-400 color-inverse">.color-light-green-400</li>
                    <li class="color-list background-light-green-500 color-inverse">.color-light-green-500</li>
                    <li class="color-list background-light-green-600 color-inverse">.color-light-green-600</li>
                    <li class="color-list background-light-green-700">.color-light-green-700</li>
                    <li class="color-list background-light-green-800">.color-light-green-800</li>
                    <li class="color-list background-light-green-900">.color-light-green-900</li>
                    <li class="color-list background-light-green-A100 color-inverse">.color-light-green-A100</li>
                    <li class="color-list background-light-green-A200 color-inverse">.color-light-green-A200</li>
                    <li class="color-list background-light-green-A400 color-inverse">.color-light-green-A400</li>
                    <li class="color-list background-light-green-A700 color-inverse">.color-light-green-A700</li>
                </ul>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-lime">lime</li>
                    <li class="color-list background-lime color-inverse">.color-lime</li>
                    <li class="color-list background-lime-50 color-inverse">.color-lime-50</li>
                    <li class="color-list background-lime-100 color-inverse">.color-lime-100</li>
                    <li class="color-list background-lime-200 color-inverse">.color-lime-200</li>
                    <li class="color-list background-lime-300 color-inverse">.color-lime-300</li>
                    <li class="color-list background-lime-400 color-inverse">.color-lime-400</li>
                    <li class="color-list background-lime-500 color-inverse">.color-lime-500</li>
                    <li class="color-list background-lime-600 color-inverse">.color-lime-600</li>
                    <li class="color-list background-lime-700 color-inverse">.color-lime-700</li>
                    <li class="color-list background-lime-800 color-inverse">.color-lime-800</li>
                    <li class="color-list background-lime-900">.color-lime-900</li>
                    <li class="color-list background-lime-A100 color-inverse">.color-lime-A100</li>
                    <li class="color-list background-lime-A200 color-inverse">.color-lime-A200</li>
                    <li class="color-list background-lime-A400 color-inverse">.color-lime-A400</li>
                    <li class="color-list background-lime-A700 color-inverse">.color-lime-A700</li>
                </ul>
            </div>

            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-yellow color-inverse">yellow</li>
                    <li class="color-list background-yellow color-inverse">.color-yellow</li>
                    <li class="color-list background-yellow-50 color-inverse">.color-yellow-50</li>
                    <li class="color-list background-yellow-100 color-inverse">.color-yellow-100</li>
                    <li class="color-list background-yellow-200 color-inverse">.color-yellow-200</li>
                    <li class="color-list background-yellow-300 color-inverse">.color-yellow-300</li>
                    <li class="color-list background-yellow-400 color-inverse">.color-yellow-400</li>
                    <li class="color-list background-yellow-500 color-inverse">.color-yellow-500</li>
                    <li class="color-list background-yellow-600 color-inverse">.color-yellow-600</li>
                    <li class="color-list background-yellow-700 color-inverse">.color-yellow-700</li>
                    <li class="color-list background-yellow-800 color-inverse">.color-yellow-800</li>
                    <li class="color-list background-yellow-900 color-inverse">.color-yellow-900</li>
                    <li class="color-list background-yellow-A100 color-inverse">.color-yellow-A100</li>
                    <li class="color-list background-yellow-A200 color-inverse">.color-yellow-A200</li>
                    <li class="color-list background-yellow-A400 color-inverse">.color-yellow-A400</li>
                    <li class="color-list background-yellow-A700 color-inverse">.color-yellow-A700</li>
                </ul>
            </div>

            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-amber color-inverse">amber</li>
                    <li class="color-list background-amber color-inverse">.color-amber</li>
                    <li class="color-list background-amber-50 color-inverse">.color-amber-50</li>
                    <li class="color-list background-amber-100 color-inverse">.color-amber-100</li>
                    <li class="color-list background-amber-200 color-inverse">.color-amber-200</li>
                    <li class="color-list background-amber-300 color-inverse">.color-amber-300</li>
                    <li class="color-list background-amber-400 color-inverse">.color-amber-400</li>
                    <li class="color-list background-amber-500 color-inverse">.color-amber-500</li>
                    <li class="color-list background-amber-600 color-inverse">.color-amber-600</li>
                    <li class="color-list background-amber-700 color-inverse">.color-amber-700</li>
                    <li class="color-list background-amber-800 color-inverse">.color-amber-800</li>
                    <li class="color-list background-amber-900 color-inverse">.color-amber-900</li>
                    <li class="color-list background-amber-A100 color-inverse">.color-amber-A100</li>
                    <li class="color-list background-amber-A200 color-inverse">.color-amber-A200</li>
                    <li class="color-list background-amber-A400 color-inverse">.color-amber-A400</li>
                    <li class="color-list background-amber-A700 color-inverse">.color-amber-A700</li>
                </ul>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-orange color-inverse">orange</li>
                    <li class="color-list background-orange color-inverse">.color-orange</li>
                    <li class="color-list background-orange-50 color-inverse">.color-orange-50</li>
                    <li class="color-list background-orange-100 color-inverse">.color-orange-100</li>
                    <li class="color-list background-orange-200 color-inverse">.color-orange-200</li>
                    <li class="color-list background-orange-300 color-inverse">.color-orange-300</li>
                    <li class="color-list background-orange-400 color-inverse">.color-orange-400</li>
                    <li class="color-list background-orange-500 color-inverse">.color-orange-500</li>
                    <li class="color-list background-orange-600 color-inverse">.color-orange-600</li>
                    <li class="color-list background-orange-700 color-inverse">.color-orange-700</li>
                    <li class="color-list background-orange-800">.color-orange-800</li>
                    <li class="color-list background-orange-900">.color-orange-900</li>
                    <li class="color-list background-orange-A100 color-inverse">.color-orange-A100</li>
                    <li class="color-list background-orange-A200 color-inverse">.color-orange-A200</li>
                    <li class="color-list background-orange-A400 color-inverse">.color-orange-A400</li>
                    <li class="color-list background-orange-A700 color-inverse">.color-orange-A700</li>
                </ul>
            </div>

            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-deep-orange">deep-orange</li>
                    <li class="color-list background-deep-orange">.color-deep-orange</li>
                    <li class="color-list background-deep-orange-50 color-inverse">.color-deep-orange-50</li>
                    <li class="color-list background-deep-orange-100 color-inverse">.color-deep-orange-100</li>
                    <li class="color-list background-deep-orange-200 color-inverse">.color-deep-orange-200</li>
                    <li class="color-list background-deep-orange-300 color-inverse">.color-deep-orange-300</li>
                    <li class="color-list background-deep-orange-400 color-inverse">.color-deep-orange-400</li>
                    <li class="color-list background-deep-orange-500">.color-deep-orange-500</li>
                    <li class="color-list background-deep-orange-600">.color-deep-orange-600</li>
                    <li class="color-list background-deep-orange-700">.color-deep-orange-700</li>
                    <li class="color-list background-deep-orange-800">.color-deep-orange-800</li>
                    <li class="color-list background-deep-orange-900">.color-deep-orange-900</li>
                    <li class="color-list background-deep-orange-A100 color-inverse">.color-deep-orange-A100</li>
                    <li class="color-list background-deep-orange-A200 color-inverse">.color-deep-orange-A200</li>
                    <li class="color-list background-deep-orange-A400">.color-deep-orange-A400</li>
                    <li class="color-list background-deep-orange-A700">.color-deep-orange-A700</li>
                </ul>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-brown">brown</li>
                    <li class="color-list background-brown">.color-brown</li>
                    <li class="color-list background-brown-50 color-inverse">.color-brown-50</li>
                    <li class="color-list background-brown-100 color-inverse">.color-brown-100</li>
                    <li class="color-list background-brown-200 color-inverse">.color-brown-200</li>
                    <li class="color-list background-brown-300">.color-brown-300</li>
                    <li class="color-list background-brown-400">.color-brown-400</li>
                    <li class="color-list background-brown-500">.color-brown-500</li>
                    <li class="color-list background-brown-600">.color-brown-600</li>
                    <li class="color-list background-brown-700">.color-brown-700</li>
                    <li class="color-list background-brown-800">.color-brown-800</li>
                    <li class="color-list background-brown-900">.color-brown-900</li>
                </ul>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-blue-grey">blue-grey</li>
                    <li class="color-list background-blue-grey">.color-blue-grey</li>
                    <li class="color-list background-blue-grey-50 color-inverse">.color-blue-grey-50</li>
                    <li class="color-list background-blue-grey-100 color-inverse">.color-blue-grey-100</li>
                    <li class="color-list background-blue-grey-200 color-inverse">.color-blue-grey-200</li>
                    <li class="color-list background-blue-grey-300 color-inverse">.color-blue-grey-300</li>
                    <li class="color-list background-blue-grey-400">.color-blue-grey-400</li>
                    <li class="color-list background-blue-grey-500">.color-blue-grey-500</li>
                    <li class="color-list background-blue-grey-600">.color-blue-grey-600</li>
                    <li class="color-list background-blue-grey-700">.color-blue-grey-700</li>
                    <li class="color-list background-blue-grey-800">.color-blue-grey-800</li>
                    <li class="color-list background-blue-grey-900">.color-blue-grey-900</li>
                </ul>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-grey color-inverse">grey</li>
                    <li class="color-list background-grey color-inverse">.color-grey</li>
                    <li class="color-list background-grey-50 color-inverse">.color-grey-50</li>
                    <li class="color-list background-grey-100 color-inverse">.color-grey-100</li>
                    <li class="color-list background-grey-200 color-inverse">.color-grey-200</li>
                    <li class="color-list background-grey-300 color-inverse">.color-grey-300</li>
                    <li class="color-list background-grey-400 color-inverse">.color-grey-400</li>
                    <li class="color-list background-grey-500 color-inverse">.color-grey-500</li>
                    <li class="color-list background-grey-600">.color-grey-600</li>
                    <li class="color-list background-grey-700">.color-grey-700</li>
                    <li class="color-list background-grey-800">.color-grey-800</li>
                    <li class="color-list background-grey-900">.color-grey-900</li>
                </ul>
            </div>
            <div class="col-xs-fluid-8">
                <ul class="doc-color-block">
                    <li class="color-list background-black">.color-black</li>
                    <li class="color-list background-white  color-inverse">.color-white</li>
                </ul>
            </div>
        </div>
    </div>
</template>
