<template name="uiIconToggleLayout">
    {{#contentFor "pageTitle"}}Toggle Icon{{/contentFor}}
    <div class="paper background-grey-100" style="padding-top: 24px; padding-bottom: 24px;">
        <div class="row center-xs">
            <div class="col-md-2">
                <a href="javscript:" class="icon-toggle center"><i class="mdi mdi-heart"></i></a>
            </div>
            <div class="col-md-2">
                <a href="javscript:" class="icon-toggle center ripple"><i class="mdi mdi-heart"></i></a>
            </div>
            <div class="col-md-2">
                <a href="javscript:" class="icon-toggle center ripple disabled"><i class="mdi mdi-heart"></i></a>
            </div>
        </div>
    </div>
    <div class="paper background-white" style="text-align:center;padding-top: 14px; padding-bottom: 14px;">
        <div class="row center-xs">
            <div class="col-md-2 font-caption no-margin color-grey-700">Icon Toggle</div>
            <div class="col-md-2 font-caption no-margin color-grey-700">With Ripple</div>
            <div class="col-md-2 font-caption no-margin color-grey-700">Disabled</div>
        </div>
    </div>
    <div class="code-view">
        {{>iconCode1}}
    </div>
    <div class="code-view">
        {{>iconCode2}}
    </div>
    <div class="code-view">
        {{>iconCode3}}
    </div>
    <div class="paper background-grey-100" style="padding-top: 24px; padding-bottom: 24px;">
        <div class="row center-xs">
            <div class="col-md-2">
                <a href="javscript:" class="icon-toggle primary center ripple"><i class="mdi mdi-heart"></i></a>
            </div>
            <div class="col-md-2">
                <a href="javscript:" class="icon-toggle secondary center ripple"><i class="mdi mdi-heart"></i></a>
            </div>
        </div>
    </div>
    <div class="paper background-white" style="text-align:center;padding-top: 14px; padding-bottom: 14px;">
        <div class="row center-xs">
            <div class="col-md-2 font-caption no-margin color-grey-700">Primary</div>
            <div class="col-md-2 font-caption no-margin color-grey-700">Secondary</div>
        </div>
    </div>
    <div class="code-view">
        {{>iconCode4}}
    </div>
    <div class="code-view">
        {{>iconCode5}}
    </div>
</template>

<template name="iconCode1">
{{#markdown}}
```
<a href="javscript:" class="icon-toggle">
    <i class="mdi mdi-heart"></i>
</a>
```
{{/markdown}}
</template>

<template name="iconCode2">
{{#markdown}}
```
<a href="javscript:" class="icon-toggle ripple">
    <i class="mdi mdi-heart"></i>
</a>
```
{{/markdown}}
</template>

<template name="iconCode3">
{{#markdown}}
```
<a href="javscript:" class="icon-toggle" disabled>
    <i class="mdi mdi-heart"></i>
</a>
```
{{/markdown}}
</template>

<template name="iconCode4">
{{#markdown}}
```
<a href="javscript:" class="icon-toggle primary ripple">
    <i class="mdi mdi-heart"></i>
</a>
```
{{/markdown}}
</template>

<template name="iconCode5">
{{#markdown}}
```
<a href="javscript:" class="icon-toggle secondary ripple">
    <i class="mdi mdi-heart"></i>
</a>
```
{{/markdown}}
</template>
