<template name="uiListLayout">
    {{#contentFor "pageTitle"}}Lists{{/contentFor}}
    <div class="paper background-grey-100" style="padding-top: 24px; padding-bottom: 24px;">
        <div class="row center-xs" style="margin-bottom: 16px;">
            <div class="col-xd-fluid-8">
                <ul class="list">
                    <li class="single-line"><div class="label">Single Line Item</div></li>
                    <li class="single-line"><div class="label">Single Line Item</div></li>
                    <li class="single-line"><div class="label">Single Line Item</div></li>
                    <li class="single-line"><div class="label">Single Line Item</div></li>
                    <li class="single-line"><div class="label">Single Line Item</div></li>
                </ul>
            </div>

            <div class="col-xd-fluid-8">
                <ul class="list">
                    <a href=""><li class="single-line"><div class="label">Single Line Item</div></li></a>
                    <a href=""><li class="single-line"><div class="label">Single Line Item</div></li></a>
                    <a href=""><li class="single-line"><div class="label">Single Line Item</div></li></a>
                    <a href=""><li class="single-line"><div class="label">Single Line Item</div></li></a>
                    <a href=""><li class="single-line"><div class="label">Single Line Item</div></li></a>
                </ul>
            </div>
        </div>

        <div class="row center-xs" style="margin-bottom: 16px;">
            <div class="col-xd-fluid-8">
                <ul class="list">
                    <li class="single-line"><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li>
                    <li class="single-line"><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li>
                    <li class="single-line"><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li>
                    <li class="single-line"><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li>
                    <li class="single-line"><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li>
                </ul>
            </div>

            <div class="col-xd-fluid-8">
                <ul class="list">
                    <a href=""><li class="single-line"><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li></a>
                    <a href=""><li class="single-line"><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li></a>
                    <a href=""><li class="single-line"><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li></a>
                    <a href=""><li class="single-line"><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li></a>
                    <a href=""><li class="single-line"><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li></a>
                </ul>
            </div>
        </div>

        <div class="row center-xs" style="margin-bottom: 16px;">
            <div class="col-xd-fluid-8">
                <ul class="list">
                    <li class="single-line"><img src="/img/profile.png" alt=""><div class="label">Single Line Item</div></li>
                    <li class="single-line"><img src="/img/profile.png" alt=""><div class="label">Single Line Item</div></li>
                    <li class="single-line"><img src="/img/profile.png" alt=""><div class="label">Single Line Item</div></li>
                    <li class="single-line"><img src="/img/profile.png" alt=""><div class="label">Single Line Item</div></li>
                    <li class="single-line"><img src="/img/profile.png" alt=""><div class="label">Single Line Item</div></li>
                </ul>
            </div>

            <div class="col-xd-fluid-8">
                <ul class="list">
                    <a href=""><li class="single-line"><img src="/img/profile.png" alt=""><div class="label">Single Line Item</div></li></a>
                    <a href=""><li class="single-line"><img src="/img/profile.png" alt=""><div class="label">Single Line Item</div></li></a>
                    <a href=""><li class="single-line"><img src="/img/profile.png" alt=""><div class="label">Single Line Item</div></li></a>
                    <a href=""><li class="single-line"><img src="/img/profile.png" alt=""><div class="label">Single Line Item</div></li></a>
                    <a href=""><li class="single-line"><img src="/img/profile.png" alt=""><div class="label">Single Line Item</div></li></a>
                </ul>
            </div>
        </div>

        <div class="row center-xs" style="margin-bottom: 16px;">
            <div class="col-xd-fluid-8">
                <ul class="list">
                    <li class="single-line"><img src="/img/profile.png" alt=""><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li>
                    <li class="single-line"><img src="/img/profile.png" alt=""><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li>
                    <li class="single-line"><img src="/img/profile.png" alt=""><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li>
                    <li class="single-line"><img src="/img/profile.png" alt=""><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li>
                    <li class="single-line"><img src="/img/profile.png" alt=""><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li>
                </ul>
            </div>

            <div class="col-xd-fluid-8">
                <ul class="list">
                    <a href=""><li class="single-line"><img src="/img/profile.png" alt=""><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li></a>
                    <a href=""><li class="single-line"><img src="/img/profile.png" alt=""><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li></a>
                    <a href=""><li class="single-line"><img src="/img/profile.png" alt=""><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li></a>
                    <a href=""><li class="single-line"><img src="/img/profile.png" alt=""><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li></a>
                    <a href=""><li class="single-line"><img src="/img/profile.png" alt=""><i class="mdi mdi-checkbox-blank"></i><div class="label">Single Line Item</div></li></a>
                </ul>
            </div>
        </div>
    </div>

    <div class="paper background-grey-100" style="padding-top: 24px; padding-bottom: 24px;">
        <div class="row center-xs" style="margin-bottom: 16px;">
            <div class="col-xd-fluid-8">
                <ul class="list">
                    <li class="multi-line">
                        <div class="label">
                            Multi Line Item
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                        </div>
                    </li>
                    <li class="multi-line">
                        <div class="label">
                            Multi Line Item
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                        </div>
                    </li>
                    <li class="multi-line">
                        <div class="label">
                            Multi Line Item
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-xd-fluid-8">
                <ul class="list">
                    <a href="">
                        <li class="multi-line">
                            <div class="label">
                                Multi Line Item
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                            </div>
                        </li>
                    </a>
                    <a href="">
                        <li class="multi-line">
                            <div class="label">
                                Multi Line Item
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                            </div>
                        </li>
                    </a>
                    <a href="">
                        <li class="multi-line">
                            <div class="label">
                                Multi Line Item
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>

        </div>

        <div class="row center-xs" style="margin-bottom: 16px;">
            <div class="col-xd-fluid-8">
                <ul class="list">
                    <li class="multi-line">
                        <i class="mdi mdi-checkbox-blank"></i>
                        <div class="label">
                            Multi Line Item
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                        </div>
                    </li>
                    <li class="multi-line">
                        <i class="mdi mdi-checkbox-blank"></i>
                        <div class="label">
                            Multi Line Item
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                        </div>
                    </li>
                    <li class="multi-line">
                        <i class="mdi mdi-checkbox-blank"></i>
                        <div class="label">
                            Multi Line Item
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-xd-fluid-8">
                <ul class="list">
                    <a href="">
                        <li class="multi-line">
                            <i class="mdi mdi-checkbox-blank"></i>
                            <div class="label">
                                Multi Line Item
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                            </div>
                        </li>
                    </a>
                    <a href="">
                        <li class="multi-line">
                            <i class="mdi mdi-checkbox-blank"></i>
                            <div class="label">
                                Multi Line Item
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                            </div>
                        </li>
                    </a>
                    <a href="">
                        <li class="multi-line">
                            <i class="mdi mdi-checkbox-blank"></i>
                            <div class="label">
                                Multi Line Item
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
        </div>

        <div class="row center-xs" style="margin-bottom: 16px;">
            <div class="col-xd-fluid-8">
                <ul class="list">
                    <li class="multi-line">
                        <img src="/img/profile.png" alt="">
                        <div class="label">
                            Multi Line Item
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                        </div>
                    </li>
                    <li class="multi-line">
                        <img src="/img/profile.png" alt="">
                        <div class="label">
                            Multi Line Item
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                        </div>
                    </li>
                    <li class="multi-line">
                        <img src="/img/profile.png" alt="">
                        <div class="label">
                            Multi Line Item
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                        </div>
                    </li>
                </ul>

            </div>

            <div class="col-xd-fluid-8">
                <ul class="list">
                    <a href="">
                        <li class="multi-line">
                            <img src="/img/profile.png" alt="">
                            <div class="label">
                                Multi Line Item
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                            </div>
                        </li>
                    </a>
                    <a href="">
                        <li class="multi-line">
                            <img src="/img/profile.png" alt="">
                            <div class="label">
                                Multi Line Item
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                            </div>
                        </li>
                    </a>
                    <a href="">
                        <li class="multi-line">
                            <img src="/img/profile.png" alt="">
                            <div class="label">
                                Multi Line Item
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                                <div class="caption">Add 8dp padding at the top and bottom</div>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
        </div>

        <div class="row center-xs" style="margin-bottom: 16px;">
            <div class="col-xd-fluid-8">
                <ul class="list">
                    <li class="multi-line">
                        <img src="/img/profile.png" alt="">
                        <div class="label">
                            Multi Line Item
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                            <div class="pull-right">
                                <a href="" class="flat-button ripple no-margin">Ignore</a>
                                <a href="" class="flat-button primary ripple no-margin">Accept</a>
                            </div>
                            <div class="divider semi"></div>
                        </div>
                    </li>
                    <li class="multi-line">
                        <img src="/img/profile.png" alt="">
                        <div class="label">
                            Multi Line Item
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                            <div class="pull-right">
                                <a href="" class="flat-button ripple no-margin">Ignore</a>
                                <a href="" class="flat-button primary ripple no-margin">Accept</a>
                            </div>
                            <div class="divider semi"></div>
                        </div>
                    </li>
                    <li class="multi-line">
                        <img src="/img/profile.png" alt="">
                        <div class="label">
                            Multi Line Item
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                            <div class="caption">Add 8dp padding at the top and bottom</div>
                            <div class="pull-right">
                                <a href="" class="flat-button ripple no-margin">Ignore</a>
                                <a href="" class="flat-button primary ripple no-margin">Accept</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>


</template>
